.full-width {
  width: 100%;
}

.add-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-bar {
  align-self: flex-end;
  text-transform: uppercase;
}
