<form class="add-item" *ngIf="item">
  <md-form-field class="full-width">
    <input mdInput
      name="amount"
      type="number"
      placeholder="Amount"
      [(ngModel)]="item.amount">
  </md-form-field>

  <md-form-field class="full-width">
    <input mdInput
      name="unit"
      type="text"
      placeholder="Unit"
      [(ngModel)]="item.unit">
  </md-form-field>

  <md-form-field class="full-width">
    <input mdInput
      name="name"
      type="text"
      placeholder="Name"
      [(ngModel)]="item.name">
  </md-form-field>

  <div class="button-bar">
    <button md-raised-button (click)="cancel()">Cancel</button>
    <button md-raised-button color="primary" (click)="add()">Add</button>
  </div>
</form>
