<app-card-page>
  <mat-list>
    <mat-list-item *ngFor="let item of items" fxLayout="column">
      <div fxFlex="grow" (click)="done(item)" [class.done]="item.done">
        {{item.amount}} {{item.unit}} {{item.name}}
      </div>
      <div fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="options"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #options="matMenu">
          <button mat-menu-item (click)=edit(item)>Edit</button>
          <button mat-menu-item (click)=delete(item)>Delete</button>
        </mat-menu>
      </div>
    </mat-list-item>
  </mat-list>
</app-card-page>

<button (click)="add()" class="add-item" mat-fab>
  <mat-icon>add</mat-icon>
</button>
