<div *ngIf="item" class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col">
    <md-input-container>
      <input md-input
        type="number"
        pattern="-?[0-9]*(\.[0-9]+)?"
        placeholder="Amount"
        [(ngModel)]="item.amount">
    </md-input-container>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <md-input-container>
      <input md-input
        type="text"
        placeholder="Unit"
        [(ngModel)]="item.unit">
    </md-input-container>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <md-input-container>
      <input md-input
        type="text"
        placeholder="Name"
        maxlength="100"
        [(ngModel)]="item.name">
    </md-input-container>
  </div>
</div>